.productListWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 36px;
}

@media (max-width: 768px) {
    .productListWrapper {
        flex-direction: column;
        align-items: center;
        gap: 24px;
        flex-wrap: nowrap;
    }
}