.root {
    height: 58px;
    padding: 0 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
    align-items: center;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--color-black);
    gap: 12px;
}

.user_block {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logoutButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}

.icon{
    width: 26px;
    height: 26px;
}

.logo {
    width: 52px;
    height: 41px;
}